body {
    background-color: #FAC7BE;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #ff505d; 
    width: 100%;
    height: 5%;
}

div#banner-content { 
    width: 800px; 
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid #000;
  }
  div#main { 
    padding-top: 1%;
  }