@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#FAC7BE;
    font-family: 'Poppins' ;
    
}

header {
    width: 100%;
    height: 80px;
    padding-top: 0%;
    padding-left: 0%;
    margin-top: 0%;
    margin-left: 0px;
    border: 0;
    background:#ff505d;
    position: fixed;

}
.logo{
    width: 50%;
    float: left;
    text-align: left;
    line-height: 80px;
    padding-left: 25px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Playwrite IN';
    color: azure;
}

nav{
    float: right;
    line-height: 80px;
    border: 10px;
    
}
nav a{
    text-decoration: none;
    font-family: 'Poppins';
    letter-spacing: 4px;
    font-size: 20px;
    color: azure;
    padding: 26px 30px;
    margin: 0px;

}

nav a:hover{
    background: azure;
    color: #ff505d;
    font-weight: 600;
    width: auto;
}

.content{
    text-align: justify;
    padding: 6%;

}

.content h1{
    width:fit-content;
    color: #ff505d;
    background-color:azure;
    padding: 20px;
    
}